@import "main";

//   ****************************************************************
// ! 10 . about -- content ----------------------------------
//   ***************************************************************

// ? Service (counter) section

.about-services-sec {
    display: flex;
    justify-content: space-between;
    position: relative;
    .about-service-box {
        max-width: 320px;
        &:hover {
            .about-counter-box-thumb {
                img {
                    transform: scale(-1) rotate(180deg);
                    -webkit-transform: scale(-1) rotate(180deg);
                    -moz-transform: scale(-1) rotate(180deg);
                    -ms-transform: scale(-1) rotate(180deg);
                    -o-transform: scale(-1) rotate(180deg);
                }
            }
        }
        h4 {
            font-size: 2.4rem;
        }
        p {
            font-size: 1.6rem;
        }
    }
    .about-counter-box-thumb {
        margin-bottom: 2rem;
        img {
            width: 45px;
            aspect-ratio: 1;
            transition: 0.4s all ease-in-out;
            -webkit-transition: 0.4s all ease-in-out;
            -moz-transition: 0.4s all ease-in-out;
            -ms-transition: 0.4s all ease-in-out;
            -o-transition: 0.4s all ease-in-out;
        }
    }
}

// Team Section - Square styles
.home-team-sec {
    z-index: 2;
    .container {
        // z-index: ;
    }
    .skill-area-thumb-square-style {
        display: grid;
        width: 210px;
        aspect-ratio: 1;
        position: absolute;
        bottom: 0rem;
        right: 0;
        gap: 0;
        rotate: -90deg;
        z-index: -1;
        grid-template-rows: repeat(21, 1rem);
        grid-template-columns: repeat(21, 1rem);
    }

    .square-shape-1 {
        background: $color-lemon;
        width: 3rem;
        aspect-ratio: 1;
        grid-row-start: 4;
        grid-column-start: 16;
    }

    .square-shape-2 {
        background: $color-black;
        width: 3rem;
        aspect-ratio: 1;
        grid-row-start: 7;
        grid-column-start: 13;
    }

    .square-shape-3 {
        background: $color-lemon;
        width: 3rem;
        aspect-ratio: 1;
        grid-row-start: 10;
        grid-column-start: 10;
    }

    .square-shape-4 {
        background: $color-lemon;
        width: 9rem;
        aspect-ratio: 1;
        grid-row-start: 13;
        grid-column-start: 1;
    }
}

// award section styles
.award-sec {
    padding-bottom: 5rem !important;
    .row {
        .award-list-col {
            padding-bottom: 5rem;
            ul {
                padding-top: 3rem;

                display: flex;
                flex-direction: column;
                justify-content: center;
                li {
                    transition: 0.3s all ease;
                    -webkit-transition: 0.3s all ease;
                    -moz-transition: 0.3s all ease;
                    -ms-transition: 0.3s all ease;
                    -o-transition: 0.3s all ease;

                    &:last-child {
                        border-bottom: 2px solid $border-black;
                    }
                    margin-bottom: -2px;
                    border-top: 2px solid $border-black;
                    padding: 3rem 2rem;
                    h4 {
                        line-height: 1.4;
                        a {
                            font-size: 2.8rem;
                        }
                        p {
                            font-size: 1.8rem;
                        }
                    }
                    .award-year {
                        h4 {
                            font-size: 3rem;
                        }
                    }
                    &:hover {
                        border-color: $color-white !important;
                        background: $color-white;
                        z-index: 2;
                    }
                }
            }
        }
    }
}
