html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*, :after, :before {
  box-sizing: border-box;
  margin: 0;
  letter-spacing: -0.015em;
}

::-moz-selection {
  background: #a8f600;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background: #a8f600;
  color: #ffffff;
  text-shadow: none;
}

.about-services-sec {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.about-services-sec .about-service-box {
  max-width: 320px;
}
.about-services-sec .about-service-box:hover .about-counter-box-thumb img {
  transform: scale(-1) rotate(180deg);
  -webkit-transform: scale(-1) rotate(180deg);
  -moz-transform: scale(-1) rotate(180deg);
  -ms-transform: scale(-1) rotate(180deg);
  -o-transform: scale(-1) rotate(180deg);
}
.about-services-sec .about-service-box h4 {
  font-size: 2.4rem;
}
.about-services-sec .about-service-box p {
  font-size: 1.6rem;
}
.about-services-sec .about-counter-box-thumb {
  margin-bottom: 2rem;
}
.about-services-sec .about-counter-box-thumb img {
  width: 45px;
  aspect-ratio: 1;
  transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  -moz-transition: 0.4s all ease-in-out;
  -ms-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
}

.home-team-sec {
  z-index: 2;
}
.home-team-sec .skill-area-thumb-square-style {
  display: grid;
  width: 210px;
  aspect-ratio: 1;
  position: absolute;
  bottom: 0rem;
  right: 0;
  gap: 0;
  rotate: -90deg;
  z-index: -1;
  grid-template-rows: repeat(21, 1rem);
  grid-template-columns: repeat(21, 1rem);
}
.home-team-sec .square-shape-1 {
  background: #a8f600;
  width: 3rem;
  aspect-ratio: 1;
  grid-row-start: 4;
  grid-column-start: 16;
}
.home-team-sec .square-shape-2 {
  background: #000000;
  width: 3rem;
  aspect-ratio: 1;
  grid-row-start: 7;
  grid-column-start: 13;
}
.home-team-sec .square-shape-3 {
  background: #a8f600;
  width: 3rem;
  aspect-ratio: 1;
  grid-row-start: 10;
  grid-column-start: 10;
}
.home-team-sec .square-shape-4 {
  background: #a8f600;
  width: 9rem;
  aspect-ratio: 1;
  grid-row-start: 13;
  grid-column-start: 1;
}

.award-sec {
  padding-bottom: 5rem !important;
}
.award-sec .row .award-list-col {
  padding-bottom: 5rem;
}
.award-sec .row .award-list-col ul {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.award-sec .row .award-list-col ul li {
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  margin-bottom: -2px;
  border-top: 2px solid #000000;
  padding: 3rem 2rem;
}
.award-sec .row .award-list-col ul li:last-child {
  border-bottom: 2px solid #000000;
}
.award-sec .row .award-list-col ul li h4 {
  line-height: 1.4;
}
.award-sec .row .award-list-col ul li h4 a {
  font-size: 2.8rem;
}
.award-sec .row .award-list-col ul li h4 p {
  font-size: 1.8rem;
}
.award-sec .row .award-list-col ul li .award-year h4 {
  font-size: 3rem;
}
.award-sec .row .award-list-col ul li:hover {
  border-color: #ffffff !important;
  background: #ffffff;
  z-index: 2;
}/*# sourceMappingURL=about.css.map */