@import "main";

//   ****************************************************************
//   ! 6 . back-to-top  -- content ----------------------------------
//   ***************************************************************

#back-to-top {
    position: fixed;
    right: 40px;
    bottom: 40px;
    font-size: 2rem;
    background: $color-lemon !important;
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 999;
    transition: 0.4s all ease-in-out;
    -webkit-transition: 0.4s all ease-in-out;

    &:hover,
    &:focus {
        background: #000 !important;
        i {
            color: #fff;
        }
    }
}
#back-to-top:after {
    position: absolute;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 1;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0, transparent 80%);
}
