@import "main";

//   ****************************************************************
// ! 2 . common -- content ----------------------------------
//   ***************************************************************

// ! tag styles
a,
li {
    font-family: $font-pop;
    text-decoration: none;
    color: $color-black;
    list-style: none;
}

button:active {
    border: none !important;
    border-color: transparent !important;
}
span {
    color: $text-dark;
}

// ! Common html class styles

.cursor-text {
    cursor: text !important;
}
.italic {
    font-style: italic !important;
}
.relative {
    position: relative;
}

.section-padding {
    padding: 5rem 0;
}
.opa-half {
    opacity: 0.5 !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.text-lowercase {
    text-transform: lowercase !important;
}
.text-dark {
    color: $text-dark !important;
}
.text-white {
    color: $color-white !important;
}
.text-lemon {
    color: $color-lemon !important;
}
.bg-white {
    background: $color-white !important;
}
.bg-black {
    background: $color-black !important;
}
.bg-lemon {
    background: $color-lemon !important;
}

.border-white {
    border: 1px solid $color-white !important;
}

.border-lemon {
    border: 1px solid $color-lemon !important;
}
.border-black {
    border: 1px solid $color-black !important;
}
.border-to-white:hover {
    border-color: $color-white !important;
    transition: 0.4s all ease;
}
.border-to-lemon:hover {
    border-color: $color-lemon !important;
}
.border-x-dark {
    border-left: 1px solid $border-dark;
    border-right: 1px solid $border-dark;
}
.font-pop {
    font-family: $font-pop !important;
}
.font-acl {
    font-family: $font-acl !important;
}
.radius-100 {
    border-radius: 100px !important;
    -webkit-border-radius: 100px !important;
    -moz-border-radius: 100px !important;
    -ms-border-radius: 100px !important;
    -o-border-radius: 100px !important;
}
.radius-round {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.bg-to-white:hover {
    background: $color-white !important;
    transition: 0.4s all ease;
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease;
    -ms-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
}
.bg-to-black:hover {
    background: $color-black !important;
    transition: 0.4s all ease;
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease;
    -ms-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
}
.text-to-black:hover {
    color: $text-dark !important;
}
.text-to-white:hover {
    color: $color-white !important;
}
.text-to-lemon:hover {
    color: $color-lemon !important;
}

.img-grayscale {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.section-title h2 {
    font-size: 6rem !important;
}

// ! Custom/Variable Button styles

// ? General button styles

.link-btn {
    font-size: 1.8rem;
    color: $color-white;
    position: relative;
    padding-bottom: 1rem;
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 5%;
        background: $color-white;
        height: 2px;
        width: 90%;
        transition: 0.4s all ease;
        -webkit-transition: 0.4s all ease;
        -moz-transition: 0.4s all ease;
        -ms-transition: 0.4s all ease;
        -o-transition: 0.4s all ease;
}
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 5%;
        background: $color-white;
        height: 2px;
        width: 0%;
        transition: 1.2s all ease;
        -webkit-transition: 1.2s all ease;
        -moz-transition: 1.2s all ease;
        -ms-transition: 1.2s all ease;
        -o-transition: 1.2s all ease;
    }
    &:hover:after {
        width: 90%;
    }
    &:hover:before {
        width: 0;
    }

    &:hover i {
        rotate: 0deg;
    }
    i {
        color: $color-lemon;
        margin-left: 10px;
        rotate: -45deg;
        transition: 0.4s all ease;
        -webkit-transition: 0.4s all ease;
        -moz-transition: 0.4s all ease;
        -ms-transition: 0.4s all ease;
        -o-transition: 0.4s all ease;
    }
}
// Link btn style 2
.link-btn.style-2{
&:before {
    width: 100%;
}
&:after {
    left: 0;
}
&:hover:after {
    width: 100%;
}
&:hover:before {
    width: 0;
}
}
// black-color-link-btn 
.link-btn-black {
    padding-bottom: 5px;
    &:before {
        background: $color-black !important;
        height: 2px;
    }
    &:after {
        background: $color-black !important;
        height: 2px;
    }
}



// grey-color-link-btn 
.link-btn-grey {
    padding-bottom: 5px;
    &:before {
        background: $border-gray !important;
        height: 1px;
    }
    &:after {
        background: $border-gray !important;
        height: 1px;
    }
}


.link-btn-grey {
    font-size: 1.8rem;
    color: $color-white;
    position: relative;
    padding-bottom: 1rem;
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        background: $color-white;
        height: 2px;
        width: 100%;
        transition: 0.4s all ease;
        -webkit-transition: 0.4s all ease;
        -moz-transition: 0.4s all ease;
        -ms-transition: 0.4s all ease;
        -o-transition: 0.4s all ease;
}
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background: $color-white;
        height: 2px;
        width: 0%;
        transition: 1.2s all ease;
        -webkit-transition: 1.2s all ease;
        -moz-transition: 1.2s all ease;
        -ms-transition: 1.2s all ease;
        -o-transition: 1.2s all ease;
    }
    &:hover:after {
        width: 100%;
    }
    &:hover:before {
        width: 0;
    }

    &:hover i {
        rotate: 0deg;
    }
    i {
        color: $color-lemon;
        margin-left: 10px;
        rotate: -45deg;
        transition: 0.4s all ease;
        -webkit-transition: 0.4s all ease;
        -moz-transition: 0.4s all ease;
        -ms-transition: 0.4s all ease;
        -o-transition: 0.4s all ease;
    }
}


// * big circle btn 


.big-circle-btn {
    z-index: 2;
    overflow: hidden;
    position: absolute;
    right: 60px;
    top: 60px;
    width: 15rem;
    display: grid;
    place-content: center;
    aspect-ratio: 1;
    overflow: hidden;
    z-index: 1;
    i {
        font-size: 8rem;
        z-index: 9;
        rotate: -45deg;
        font-weight: 600;
        transition: 0.4s all ease;
        -webkit-transition: 0.4s all ease;
        -moz-transition: 0.4s all ease;
        -ms-transition: 0.4s all ease;
        -o-transition: 0.4s all ease;
    }
}


