@import "main";

//   ****************************************************************
// ! 18 . feedback-slider -- content ----------------------------------
//   ***************************************************************
.feedback-slider-sec {
    .carousel {
        .carousel-item {
            .feedback-form-client {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                h6 {
                    font-size: 2rem;
                    margin: 1rem 0;
                }
                p{
                    font-size: 1.6rem;
                }
            }
            .feedback-form-review {
                img{
                    position: absolute;
                    left: -6rem;
                    top: -1rem;
                    filter: grayscale(9) brightness(0)                                    ;
                    -webkit-filter: grayscale(9) brightness(0)                                    ;
}
                padding-bottom: 8rem;
                margin-top: 1rem;
                p {
                    font-size: 2.4rem;
                    font-weight: 500;
                    letter-spacing: -0.015em;

                }
            }
        }
        .feedback-slider-control-wrap {
            position: absolute;
            left: 42%;
            bottom: 0%;
            display: flex;
            gap: 2rem;
            i {
                font-weight: bold;
                font-size: 1.5rem;
                opacity: 1;
            }

            .btn:first-child {
                width: 5.2rem;
                height: 5.2rem;
                overflow: hidden;
                opacity: 1 !important;
            }
            .btn:last-child {
                width: 5.2rem;
                height: 5.2rem;
                overflow: hidden;
                opacity: 1 !important;
            }
        }
    }
}
