@import "main";

//   ****************************************************************
// ! 4 . header -- content ----------------------------------
//   ***************************************************************

// ! Sticky header style
.sticky-header {
        position: sticky;
        top: 0;
        z-index: 999 !important;
        .navbar-nav {
                flex-grow: 1;
                justify-content: flex-end;
                gap: 3rem;
                .nav-item {
                        margin-right: 20px;
                }
                .nav-link {
                        padding: 48px 0px;
                        font-size: 1.6rem;
                        color: $color-white;
                        font-family: $font-acl !important;
                        &:hover {
                                color: $color-lemon;
                        }
                        &.active {
                                color: $color-lemon;
                        }
                }
        }
        .sidebar-btn {
                cursor: pointer;
                width: 60px !important;
                position: relative;
                display: grid !important;
                place-content: center !important;
                background: $color-lemon;
                aspect-ratio: 1 !important;
                border-radius: 50%;
                padding: 20px;
                overflow: hidden !important;

                .line {
                        display: block;
                        background: $color-black;
                        width: 25px;
                        height: 3px !important;
                        margin: 4px 0;
                        transition: 0.2s all linear;
                        -webkit-transition: 0.2s all linear;
                        -moz-transition: 0.2s all linear;
                        -ms-transition: 0.2s all linear;
                        -o-transition: 0.2s all linear;
                        margin: 3px 0;
                }
                &:hover .line.line:nth-child(2n) {
                        transform: scaleX(0.7);
                        transform-origin: center;
                }
        }
}

// ! offcanvas styles

.offcanvas-overlay.active {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: inline-block;
        position: fixed;
        z-index: -1;
        transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -ms-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.offcanvas-body {
        background: $color-black none repeat scroll 0 0;
        height: 100%;
        padding: 3rem;
        position: fixed;
        right: 0;
        top: 0;
        transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -ms-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        width: 340px;
        z-index: 999;
        overflow-y: scroll;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        &.active {
                transform: translateX(0);
                -webkit-transform: translateX(0);
                -moz-transform: translateX(0);
                -ms-transform: translateX(0);
                -o-transform: translateX(0);
        }
        .offcanvas-close-icon {
                text-align: right;
                margin-top: -16px;
                margin-right: -1rem;
                i {
                        font-size: 2rem;
                }
        }
        .offcanvas-title {
                font-size: 1.8rem;
                margin-bottom: 7px;
        }
        .offcanvas-info {
                border-top: 1px solid #ffffff33;
                margin: 3.5rem 0 2rem 0;
                .offcanvas-address {
                        padding-top: 2rem;
                        a {
                                font-size: 1.6rem;
                                line-height: 1.6;
                        }
                }
                .offcanvas-contact {
                        margin-top: 2rem;
                        a {
                                font-size: 1.6rem;
                                line-height: 1.8;
                        }
                }
                .offcanvas-mail {
                        a {
                                font-size: 1.6rem;
                                line-height: 1.6;
                        }
                }
        }
        .offcanvas-social {
                ul {
                        display: flex;
                        gap: 1.3rem;
                        flex-direction: row;
                        li {
                                a {
                                        border: 1px solid #efefef;
                                        width: 40px;
                                        aspect-ratio: 1;
                                        border-radius: 50%;
                                        -webkit-border-radius: 50%;
                                        -moz-border-radius: 50%;
                                        -ms-border-radius: 50%;
                                        -o-border-radius: 50%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        transition: 0.4s all ease;
                                        -webkit-transition: 0.4s all ease;
                                        -moz-transition: 0.4s all ease;
                                        -ms-transition: 0.4s all ease;
                                        -o-transition: 0.4s all ease;
                                        i {
                                                font-size: 1.6rem;
                                                transition: 0.4s all ease;
                                                -webkit-transition: 0.4s all ease;
                                                -moz-transition: 0.4s all ease;
                                                -ms-transition: 0.4s all ease;
                                                -o-transition: 0.4s all ease;
                                        }
                                        &:hover {
                                                background: $color-white;
                                                i {
                                                        color: $color-black !important;
                                                }
                                        }
                                }
                        }
                }
        }
}

.mobile-overlay.active {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: inline-block;
        position: fixed;
        z-index: -1;
        transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -ms-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.mobile-body {
        background: $color-black none repeat scroll 0 0;
        height: 100%;
        padding: 3rem;
        position: fixed;
        right: 0;
        top: 0;
        transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -ms-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        width: 340px;
        z-index: 999;
        overflow-y: scroll;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        &.active {
                transform: translateX(0);
                -webkit-transform: translateX(0);
                -moz-transform: translateX(0);
                -ms-transform: translateX(0);
                -o-transform: translateX(0);
        }
        .mobile-close-icon {
                text-align: right;
                margin-top: -16px;
                margin-right: -1rem;
                i {
                        font-size: 2rem;
                }
        }
}

.sidebar-btn {
        display: inline-block !important;
}
.mobile-nav-btn.sidebar-btn {
        display: none !important;
        width: 50px;
        padding: 14px;
}

// ! Dropdown styles
.dropdown {
        position: relative;
}
.dropdown-box {
        position: absolute;
        left: 0;
        top: 100%;
        min-width: 230px;
        background: $color-black;
        margin: 0;
        transform: scaleY(0);
        transform-origin: 0 0;
        transition: all 0.3s ease-out 0s;
        box-shadow: 0 0 5px hsla(0, 0%, 100%, 0.1);
        border-radius: 6px;
        padding: 18px 0;
        display: block;
        visibility: hidden;
        opacity: 0;
        z-index: 9;

        li {
                line-height: 1.6;
                a {
                        padding: 11px 15px 5px 25px !important;
                }
                &:hover {
                        a {
                                transition: all 0.3s ease-out 0s;
                                -webkit-transition: all 0.3s ease-out 0s;
                                -moz-transition: all 0.3s ease-out 0s;
                                -ms-transition: all 0.3s ease-out 0s;
                                -o-transition: all 0.3s ease-out 0s;
                                transform: translateX(8px);
                        }
                }
        }
}

.dropdown:hover .dropdown-box {
        opacity: 1 !important;
        visibility: visible !important;
        transform: scale(1) !important;
}

// ! Mobile navigation

.mobile-body.active {
        .mobile-close-icon {
                .btn {
                        transform: rotate(1turn);
                }
        }
}

.mobile-body {
        position: fixed;
        right: 0;
        top: 0;
        width: 300px !important;
        padding: 0;
        // padding-right: 30px;
        max-width: 100%;
        height: 100%;
        z-index: 999;
        .mobile-header-head-wrap {
                padding-right: 30px;
                position: relative;
                .mobile-nav-brand {
                        position: relative;
                        padding: 30px 0 25px 25px;
                        display: flex;
                        flex-direction: row;
                        align-content: start;
                        justify-content: space-between;
                        text-align: left;
                        flex-wrap: nowrap;
                        .mobile-close-icon {
                                text-align: center;
                                font-size: 20px;
                                width: 20px;
                                cursor: pointer;
                                z-index: 10;
                                transition: all 0.5s ease;
                                margin: -4px -1px 0 0;
                                padding: 0;
                                .btn {
                                        transition: all 0.5s ease;
                                }
                                i {
                                        color: $color-lemon !important;
                                        font-weight: 900 !important;
                                }
                        }
                }
                .mobile-nav-search {
                        padding: 5px 0 25px 26px;

                        input {
                                display: block;
                                width: calc(100% + 10px);
                                border: none;
                                padding: 10px 45px 10px 20px;
                                font-size: 15px;
                                height: 45px;
                                background: hsla(0, 0%, 100%, 0.1);
                                color: var(--tg-color-white-default);
                                border-radius: 4px;
                        }

                        input::-webkit-input-placeholder,
                        textarea::-webkit-input-placeholder,
                        input[type="text"],
                        input[type="email"],
                        textarea {
                                color: $color-white !important;
                                opacity: 1;
                                font-weight: 400;
                                font-size: 1.6rem;
                        }
                        .form-control:focus,
                        text-area:focus-visible {
                                border-color: inherit;
                                -webkit-box-shadow: none;
                                box-shadow: none;
                                outline: none !important;
                        }
                        .btn {
                                position: absolute;
                                right: 12px;
                                top: 6px;
                                font-size: 1.6rem;
                        }
                }
        }
        .mobile-nav-wrap {
                .mobile-nav-ul {
                        display: inline-block !important;
                        width: 100% !important;
                        li {
                                margin: 0 !important;
                                border-top: 1px solid #ffffff1a;
                                &:last-child {
                                        border-bottom: 1px solid #ffffff1a;
                                }
                                .nav-link {
                                        padding: 10px 60px 10px 25px;
                                        font-family: $font-pop !important;
                                        font-weight: 500;
                                        &.active {
                                                border-left: 2px solid $color-lemon;
                                        }
                                }
                                .dropdown-list {
                                        display: none;
                                        padding: 0;
                                        .nav-item {
                                                padding-left: 2rem !important;
                                        }
                                }
                        }
                        .dropdown {
                                position: relative;
                                .dropdown-btn {
                                        position: absolute;
                                        right: 5px;
                                        top: 0px;
                                        .fa-plus {
                                                background: #ffffff1a;
                                                width: 32px;
                                                aspect-ratio: 1;
                                                line-height: 32px;
                                                border-radius: 3px;
                                                font-size: 1.6rem;
                                        }
                                        .fa-minus {
                                                display: none;
                                        }
                                        &.active {
                                                .fa-plus {
                                                        display: none;
                                                }
                                                .fa-minus {
                                                        display: block;
                                                        background: $color-white !important;
                                                        width: 32px;
                                                        aspect-ratio: 1;
                                                        line-height: 32px;
                                                        border-radius: 3px;
                                                        font-size: 1.6rem;
                                                        color: $color-black !important;
                                                }
                                        }
                                }
                        }
                }
        }

        .mobile-header-foot-wrap {
                position: relative;
                padding: 30px 25px;
                .mobile-nav-contact {
                        a {
                                font-size: 1.6rem;
                                line-height: 4rem;
                        }
                }
                .mobile-nav-social {
                        margin-top: 2rem;
                        ul {
                                display: flex;
                                gap: 2rem;
                                li {
                                        a {
                                                i {
                                                        font-size: 1.6rem;
                                                        transition: 0.4s all ease;
                                                        -webkit-transition: 0.4s all ease;
                                                        -moz-transition: 0.4s all ease;
                                                        -ms-transition: 0.4s all ease;
                                                        -o-transition: 0.4s all ease;
                                                }
                                                &:hover {
                                                        i {
                                                                color: $color-lemon !important;
                                                        }
                                                }
                                        }
                                }
                        }
                }
        }
}

// * variable styles for logos and sidebar btn (color change according to the pages )
// ? Default
.logo-white {
        display: block;
}
.logo-black {
        display: none;
}

/* Styles for dropdown button */
.sidebar-btn {
        background: white !important; /* Default color */
}

/* Home page styles */
.home .logo-white {
        display: block;
}
.home .logo-black {
        display: none;
}
.home .sidebar-btn {
        background: $color-lemon !important;
}

/* Error page styles */
.error .logo-white {
        display: none;
}
.error .navbar.navbar-expand-lg.bg-black {
        background-color: white !important;
        .sidebar-btn {
                .line {
                        background: $color-white;
                }
        }
}
.error .logo-black {
        display: block;
}

.error .sidebar-btn {
        background: black !important;
}
.error {
        .sticky-header .navbar-nav .nav-link {
                color : $color-black;
                &.active {
                        color: $color-lemon;
                }
        }
        .mobile-body .navbar-nav .nav-link {
                color : $color-white;
                &.active {
                        color: $color-lemon;
                }
            }
}

/* Other pages styles */
.other .logo-white {
        display: none;
}

.other .logo-black {
        display: block;
}

.other .sidebar-btn {
        background: white !important;
}
