@import "main";

//   ****************************************************************
// ! 7 . home-style -- content ----------------------------------
//   ***************************************************************
// * Home Hero section styles
.sec-hero {
    padding: 12rem 0;
    .hero-typography {
        .hero-highlighted-text-wrap {
            h1 {
                font-size: 12rem;
            }
        }
        p {
            font-size: 1.8rem;
        }
        .hero-btns-wrap {
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            align-items: center;
            margin-top: 36px;
            margin-bottom: 80px;
            &:after {
                content: "";
                position: relative;
                display: inline-block;
                border-bottom: 1px solid $color-white;
                width: 100%;
                flex: 1 1;
            }
            a {
                height: 5.2rem !important;
                line-height: 5.2rem;
                padding: 0 2rem !important;
                font-size: 2rem;
                transition: 0.4s all ease;
                -webkit-transition: 0.4s all ease;
                -moz-transition: 0.4s all ease;
                -ms-transition: 0.4s all ease;
                -o-transition: 0.4s all ease;
                overflow: hidden;

                i {
                    margin-right: 5px;
                    font-size: 3rem;
                    vertical-align: middle !important;
                }
                img {
                    margin-right: 5px;
                }
            }
        }
    }
}

// * Home demo design section styles

.home-design-demo-wrap {
    .design-demo-head-wrap {
        flex-wrap: wrap;
        gap: 30px 190px;
        align-items: center;
        padding-bottom: 11rem;
        .design-demo-head-image-side {
            .design-demo-head-image-wrap {
                .design-demo-head-image-items {
                    border: 4px solid $color-lemon;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    &:first-child {
                        margin-right: -30px;
                        z-index: 1;
                    }
                    &:last-child {
                        z-index: 1;
                        margin-left: -30px;
                    }
                    &:nth-child(2n) {
                        z-index: 2;
                    }
                    img {
                        width: 60px;
                        aspect-ratio: 1;
                        position: relative;
                        filter: grayscale(1);
                        -webkit-filter: grayscale(1);
                        object-fit: cover;
                    }
                }
            }
            h5 {
                font-size: 2rem;
                margin-top: 10px;
            }
        }
        .design-demo-head-text-wrap {
            max-width: 588px;
            h4 {
                font-size: 3rem;
            }
        }
    }
    .design-demo-one-half {
        padding: 6rem 0;

        .design-demo-one-half-img-wrap {
            filter: drop-shadow(16px 16px $color-white);
            -webkit-filter: drop-shadow(16px 16px $color-white);
            img {
                width: 520px;
                height: 450px;
                object-fit: contain;
                filter: grayscale(1);
                -webkit-filter: grayscale(1);
            }
        }
        .design-demo-one-half-content-wrap {
            p {
                font-size: 1.8rem;
                opacity: 0.8;
                margin-top: 2.8rem;
                margin-bottom: 4rem;
                max-width: 588px;
            }
            .design-demo-btn-group {
                display: flex;
                gap: 8px;
                .btn {
                    padding: 10px 20px;
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }
            .design-demo-one-half-link-btn {
                margin-top: 6rem;
                display: flex;
                justify-content: start;
            }
            .link-btn {
                font-family: $font-acl;
                display: flex;
                justify-content: start;
                align-items: flex-start;
                i {
                    margin-left: 25px;
                    margin-top: 2px;
                }
            }
        }
    }
    .design-demo-circle-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 8rem;
        padding-bottom: 4rem;
        .big-circle-btn {
            position: relative;
            font-size: 1.4rem;
            top: 0;
            right: 0;
        }
    }
}

// * Home Insight section styles
.blog-insight-sec{
.blog-insight-row {
    border-top: 1px solid $border-dark;
    border-bottom: 1px solid $border-dark;
    padding: 2rem 0;
    margin: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    .blog-insight-details {
        .insight-blogpost-date {
            span {
                font-size: 1.2rem;
                padding-bottom: 0.5rem;
            }
        }
        .insight-blogpost-title {
            margin-bottom: 8rem;
            margin-top: 1rem;
            h3 {
                a {
                    font-size: 2.8rem;
                    background-image: linear-gradient(to left, $color-black, $color-black);
                    background-repeat: no-repeat;
                    background-position: 0 100%;
                    background-size: 0 2px;
                    transition: 1.2s all ease;
                    -webkit-transition: 1.2s all ease;
                    -moz-transition: 1.2s all ease;
                    -ms-transition: 1.2s all ease;
                    -o-transition: 1.2s all ease;
                    &:hover {
                        background-size: 100% 2px;
                    }
                }
            }
        }
        .insight-blogpost-btn-group {
            display: flex;
            justify-content: space-between;
            .insight-blogpost-btn-group-ul {
                display: flex;
                gap: 15px;
                align-items: flex-end;
                margin-bottom: 0;
                li {
                    a {
                        font-size: 1.2rem;
                        padding: 0.7rem 2rem;
                    }
                }
            }
        }
    }
    .insight-blogpost-thumb {
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0;
        img {
            transition: 0.4s all ease;
            -webkit-transition: 0.4s all ease;
            -moz-transition: 0.4s all ease;
            -ms-transition: 0.4s all ease;
            -o-transition: 0.4s all ease;
        }
        a {
            overflow: hidden;
        }
        a:hover {
            img {
                filter: none;
                transform: scale(1.05);
                -webkit-transform: scale(1.05);
                -moz-transform: scale(1.05);
                -ms-transform: scale(1.05);
                -o-transform: scale(1.05);
                -webkit-filter: none;
            }
        }
    }
}
.blog-insight-redirect-btn {
    a {
        overflow: hidden;
        z-index: 1;
        padding: 1rem 2rem;
        font-size: 1.8rem ;
        font-weight: 400 !important;
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
        -o-border-radius: 0 !important;
}
}
}