@import "main";

//   ****************************************************************
//  ! 23 . services-details -- content ----------------------------------
//   ***************************************************************

.services-details-sec {
    .container {
        padding: 4rem 0;
        .row-1-col-1 {
            p {
                font-size: 1.8rem;
                margin: 2rem 0;
                opacity: 0.8;
            }
        }
        .row-1-col-2 {
            .xl-end {
                height: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                h5 {
                    font-size: 2.6rem;
                }
                ul {
                    margin-top: 10rem !important;
                    margin-bottom: 0;

                    li {
                        p {
                            font-size: 1.6rem;
                            margin-top: 2rem;
                            padding-bottom: 0;
                            margin-bottom: 0;
                            opacity: 0.8;
                            i {
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
        }
        .row-1-col-3 {
            padding: 5rem 0;
        }
        .row-2 {
            margin-block-end: 5rem;
            padding: 0rem 0 3rem 0;
            h4 {
                font-size: 4rem;
                margin: 3rem 0 0 0;
            }
            p {
                font-size: 1.6rem;
                margin: 1rem 0;
            }
        }
        .row-3-col-1 {
           h4 {
            font-size: 4rem;
            margin-bottom: 2rem;
           } 
           p {
            font-size: 1.6rem;
           }
           ul {
            margin-top: 3rem;
            li {
                line-height: 2;
                img {
                    margin-right: 1rem;
                }
            }
           }
        }
        .row {
            .section-title {
                margin: 8rem 0;
            }
            a {
                font-size: 4rem;
                transition: 0.4s all ease;
            -webkit-transition: 0.4s all ease;
            -moz-transition: 0.4s all ease;
            -ms-transition: 0.4s all ease;
            -o-transition: 0.4s all ease;
            }
            .shine {
                margin-block-end: 2rem;
            }
        }        
        .row-4-col-2 {
            margin-top:15%;
            
}
    }
}
